{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Guitarpa-About{% endblock %}

{% block page_content %}

<h1>关于网站</h1>

<h3>代码在：
    <a href="http://www.github.com/kkevinyang" target="_blank">git@github:kkevinyang</a>
</h3>

<h3>网站企划：
    <a href="http://blog.csdn.net/kkevinyang/article/details/52738173" target="_blank">我的博客</a>
</h3>
<br>
<h1>关于作者</h1>　

<h3> Contact me:
    <a href="mailto:kkevinyang@foxmail.com ">kkevinyang@foxmail.com </a>
</h3>

{% endblock %}
